.app-bar {
  align-items: center;
  background-color: #e2e2e2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); // OR:
  // box-shadow:
  //   0 2px 4px -1px rgba(0, 0, 0, 0.2),
  //   0 4px 5px 0 rgba(0, 0, 0, 0.14),
  //   0 1px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  height: 4.5rem; // TODO: add min/max-height?
  // min-width:       // TODO: ???
  // position: relative; // with top: 0, left: 0; was fixed at example site
  position: fixed;
  z-index: 100;
  width: 100%;
}

.app-bar__toolbar {

}

.app-bar__toolbar_left {

}

.app-bar__hamburger {
  background-image: url(); // flex: 2;
}

.app-bar__logo {
  align-items: center;
  display: flex;
  min-width: 22rem;
}

.logo__link {
  // height: 3.5rem;
  padding: 0 1rem;
}

.logo__img {
  animation: app-logo-spin infinite 10s linear;
  height: 3.5rem; // TODO: calc from app-bar height ?
  vertical-align: middle; // OR:
  // float: left; // NOTE: saw this at webpack site, align img vertically in <a>
}

.logo__text {
  color: #ea8f8f;
  // font-family: 'Monoton', cursive;
  // font-family: 'Bungee Inline', cursive;
  // font-family: 'Sirin Stencil', cursive;
  // font-family: 'Carter One', cursive;
  font-family: 'Bungee Shade', cursive;
  font-size: 4rem;
  margin: 0;
  padding-bottom: 0.5rem;
}

.app-bar__toolbar_right {
  // flex: 2;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
