.chat {
  background-color: rgba(248, 236, 236, 0.5);
}

.chat__container {
  min-width: 40rem;
}

.chat_section {
}

.chat__header {
  text-align: center;
}

.chat_paper {
  background-color: #fff;
  border-radius: 3px;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
}
