.chats {
  background-color: #eee;
  // margin-bottom: 0;
  // overflow: auto;
  // NOTE: 100% work with postioning and stretch to comprise a content
  // TODO: look for alternative manner to set 100% height
  // 100vh work with overflow: auto; but not reflect additional height growth
  // and excess scrollbar appears
  height: calc(100% - 1px); // calc only for reminder
  min-height: 100vh;
  // NOTE: excess if app-bar is relatively positioned
  padding-top: 4.5rem; // TODO: must equal to app-bar height variable
  // position: fixed;
  // width: 100%;
  // z-index: -1;
}

.test-picture {
  background: url('../assets/test-picture.jpg') center no-repeat;
  height: 72.3rem;
  width: 100%;
}

.chats__footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
