// TODO: replace to text-field's partials
.nickname {
  // padding: 0.5rem 0;
  margin: 0.5rem 0;
  position: relative;
}

.nickname__input {
  border: none;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  // border-bottom: 1px solid rgb(224, 224, 224);
  // border-bottom: 1px solid #9e9e9e;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  // font-size: 1.5rem;
  // margin: 0 0 0.5rem;
  min-height: 1.4rem;
  // padding: 0 0.4rem;
  // transition: all 0.5s;
  width: 100%;
}

.nickname__input:focus {
  // border-bottom: 2px solid #f19090;
}

.nickname__base-bottomline {
  background-color: rgba(0, 0, 0, 0.12);
  bottom: 18px;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.nickname__bottomline_hidden {
  background-color: #f19090;
  bottom: 18px;
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  transform: scaleX(0);
  width: 100%;
}

.nickname__bottomline_focused {
  opacity: 1;
  transform: scaleX(1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.nickname__hint-text {
  color: rgb(212, 55, 55);
  font-size: 1.4rem;
}
