# dependencies:
node_modules/

# production:
# build/
build/dist/
build/assets/

dist/

# public/
public/dist/
public/assets/

public/**/*.js
public/**/*.js.map
public/**/*.css
public/**/*.css.map
public/report.html

src/assets/

# config/
**/.env

# .eslintrc.json
# .eslintignore

# misc
.DS_Store
npm-debug.log
yarn-error.log
**/.idea/
**/.vscode/
TEMP/
TMP/
temp/
tmp/
