# dependencies:
node_modules/

# production:
dist/
build/

# TEMP:
build/assets/
public/**

public/assets/
src/assets/

public/**/*.js
public/**/*.js.map
public/**/*.css
public/**/*.css.map
public/report.html

# config/
**/.env

# .eslintrc.json
# .eslintignore

# misc
.DS_Store
npm-debug.log
yarn-error.log
**/.idea/
**/.vscode/
**/TEMP/
**/TMP/
**/temp/
**/tmp/
