// TODO avatar block width must be same as chat list item height, define them
// with same var, same for padding of chat list item and chat info side paddings
// padding must be in 4.5 X smaller than chat list item height, use func/calc

.avatar {
  min-height: 7.2rem;
  min-width: 7.2rem;
  // width: 10rem; // OR
  // flex: 2; // TODO: clarify
  position: relative;
}

.avatar__img_small {
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // margin: 0 auto; // for middle-top layout
  margin: auto;
  height: 100%;
  width: 100%;
}

// centering or positioning (using margin or distances) of an image
// .avatar__img_small {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   margin: auto; // OR margin 0 auto;
//   height: 65%;
//   width: 65%;
// }

.chat-preview {
  display: flex;
  min-width: 40rem;
  padding: 1.6rem;
}

.chat-preview:hover {
  cursor: pointer;
}

// .chat-preview__item-wrapper {
// }

.chat-preview__info {
  flex: 1;
  padding-left: 1.6rem; // NOTE: must be relative to chat list item height
  min-height: 7.2rem;
}

.chat-info {
  display: flex;
  flex-flow: column nowrap;
  // justify-content: space-around;
  // NOTE: set this or any other width value OR overflow: hidden; to prevent
  min-width: 0; // text overflowing in a child of a flex child item

  p,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.chat-info__main {
  display: flex;
  // justify-content: space-between;
  // margin: auto;
  min-height: auto;
  padding-bottom: 1rem; // if flex-container has default flex direction
}

// TODO: extract styles for non-wrapped single line with ellipsis
.chat-info__name,
.chat-info__last-message {
  padding-right: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-info__last-message {
  line-height: 1.15em;
  max-height: 2.25em; // line-height X number of lines
  white-space: normal;
  // word-wrap: break-word;
  // NOTE: next 3 lines add ellipsis at multiline text end, works only in Chrome 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; // number of lines
}

.chat-info__unread-count {
  margin-left: auto;
}

.chat-info__additional {
  display: flex;
  // margin: auto;
}

.chat-info__time {
  margin-left: auto;
  margin-top: auto;
  white-space: nowrap;
}
