// TODO avatar block width must be same as chat list item height, define them
// with same var, same for padding of chat list item and chat info side paddings
// padding must be in 4.5 X smaller than chat list item height, use func/calc

.avatar {
  min-height: 7.2rem;
  min-width: 7.2rem;
  // width: 10rem; // OR
  // flex: 2; // TODO: clarify
  position: relative;
}

// centering or positioning (using margin or distances) of an image
.avatar__img_small {
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; // margin: 0 auto; // for middle-top layout
  height: 100%; // height: 65%;
  width: 100%;  // width: 65%;
}

.chat-preview {
  display: flex;
  min-width: 40rem;
  padding: 1.6rem;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.chat-preview__info {
  flex: 1;
  padding-left: 1.6rem; // NOTE: must be relative to chat list item height
  min-height: 7.2rem;
}

.chat-preview__close-btn {
  // align-items: center;        // required for positioning of inner svg
  background-color: transparent; // required
  border: 0;                     // required
  color: #bfbfbf;
  cursor: pointer;
  outline: none;
  // display: inline-flex;         // required for positioning of inner svg
  // justify-content: center;      // required for positioning of inner svg
  padding: 0.1rem;                 // required instead of inline-flex
  user-select: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  width: 1.6rem;              // required, === padding x 2 + svg height/width
  height: 1.6rem;             // required
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:active {
    color: #6e6b6b;
  }
}

.close-btn__svg {
  // cursor: pointer;
  fill: currentColor; // OR: currentColor | none;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  // height: 1.4rem; // required to set how much space of parent svg will fill in
  // width: 1.4rem;  // required to set how much space of parent svg will fill in
  user-select: none;
}

.chat-info {
  display: flex;
  flex-flow: column nowrap;
  // justify-content: space-around;
  // NOTE: set this or any other width value OR overflow: hidden; to prevent
  min-width: 0; // text overflowing in a child of a flex child item

  p,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.chat-info__main {
  display: flex;
  // margin: auto 0;
  min-height: 3rem;
  // padding-bottom: 1rem;
}

// TODO: extract styles for non-wrapped single line with ellipsis
.chat-info__name,
.chat-info__last-message {
  padding-right: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-info__last-message {
  line-height: 1.15em;
  max-height: 2.25em; // line-height X number of lines // TODO: not equal !!!
  white-space: normal;
  // word-wrap: break-word;
  // NOTE: next 3 lines add ellipsis at multiline text end, works only in Chrome 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; // number of lines
}

.chat-info__unread-count {
  margin-left: auto;
  padding-right: 1.6rem;
}

.chat-info__additional {
  display: flex;
  // margin: auto;
}

.chat-info__time {
  margin-left: auto;
  margin-top: auto;
  white-space: nowrap;
}
