@import "partials/chat-history";
@import "partials/typing-notification";
@import "partials/chat-input";
@import "partials/text-field-material";
@import "partials/text-field-google";

#app {
  display: flex;
  justify-content: center;

  /* -moz-appearance: none; */
}

.chat-app {
  min-width: 400px;
  width: 30%;
  font-family: Helvetica, Verdana, sans-serif;
}

// TODO: extract into chat header
.chat-app h3 {
  text-align: center;
}
