// textarea,
// textarea:hover,
// textarea:focus,
// textarea:active {
//   font: inherit;
//   outline: none;
//   box-shadow: none; /* to disable red shadows on reqired inputs in FF */
// }

.chat-form {
  /* border-top: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // *:focus {
  //   outline: none;
  // }

  button {
    outline: none;
  }

  input {
    outline: none;
    padding: 0.3rem 0;
  }

  textarea {
    box-shadow: none; /* to disable red shadows on reqired inputs in FF */
    outline: none;
  }
}

// [contenteditable="true"]:focus {
//     outline: none;
// }

.chat-form__msg-textarea {
  border: none;
  // border: 1px solid rgba(228, 181, 181, 0.9);
  // padding: 0.2rem 0.4rem;
  min-height: 12rem;
  padding: 0;
  resize: vertical;
  width: 100%;
}

.chat-form__send-button {
  background: #f1abab;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 2px;
  color: #fcfcfc;
  // font-size: 1rem;
  text-shadow: 0 0 4px #fb2c2c;

  &:active {
    background: #f19090;
    border: 1px solid #f19090;
  }
}
